@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* utility classes */
:root {
  --primary-text-color: #000000;
  --secondary-text-color: #536c83;
  --accent-color: #007c9d;
  --accent-color-dark: #0d6efd;
  --padding-inline-section: 20px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}


/* nav bar */
nav {
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  width: 100%;
  height: 100px;
  padding-top: 15px;
  z-index: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.uppr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.icon-srchBar{
  width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0000001f; */
}
/* #hospitalIcon{
  /* background-color: #0d6dfd19; */
/* } * */
#hospitalIcon img {
  height: 4rem;
  /* margin-left: 90px; */
  /* margin-top: 10px; */
}
.srchBr{
  display: flex;
  /* background-color: #000000; */
  
}
#searchBar {
  height: 2.4rem;
  width: 30rem;
  /* margin-left: 250px; */
  padding-left: 15px;
  /* margin-right: 10px; */
  /* border: none; */
  border-color: #d0d0d0;
  border-radius: 6px;
  box-shadow: none;
}
#searchIcon {
  background-color: var(--accent-color);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
#searchIcon:hover {
  background-color: #0a6a84;
}
.cnt-langBtn{
  display: flex;
  /* background-color: #0000002b; */
  /* justify-content: space-between; */
  width: 25rem;
  gap: 2rem;
}
.cntNo {
  display: flex;
  align-items: center;
  /* padding-left: 15px; */
  /* margin-left: 10px; */
  /* background-color: #7e6f6f; */
  height: 2.5rem;
  gap: .7rem;
  width: 15rem;
  justify-content: space-evenly;
}
.no1 {
  /* height: 40px; */

  border: 2px solid var(--accent-color);
  padding: 7px;
  border-radius: 11px;
  font-weight: 450;
  font-size: 15px;
}
/* .no1 a {
  color: var(--accent-color);

} */
.no1:hover {
  background-color: var(--accent-color);
  color: white;
  border: 2px solid rgb(255, 155, 127);
}
/* .no1 i{
color: #007c9d;
} */
/* .no1 i:hover {
  color: rgb(255, 155, 127);
} */
.no1 p {
  cursor: pointer;
}
.langSel {
  height: 1.5rem;
  background-color: var(--accent-color);
  padding: 9px;
  border-radius: 11px;
  /* margin-left: 20px; */
}
.langSel a {
  color: #ffffff;
}

.bttm {
  display: flex;
  justify-content: space-evenly;
}
.navLinks:hover {
  color: var(--accent-color);
}



/* main banner */
main {
  padding-top: 100px;
  width: 100vw;
}
.mainBanner {
  /* margin-top: 50px; */
  width: 100%;
  height:auto;
  overflow: hidden;
  /* background-color: #214c75; */
}
.mainBanner img {
  width: 100%;
  object-fit: contain;
}
/* feature Section */
.featureSection {
  background-color: #d3d3d31a;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}
.box {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 145px;
  width: 170px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.box:hover {
  /* background-color: #02556cc4; */
  color: rgb(255, 89, 0);
  border: 1.5px solid rgb(255, 89, 0);
  box-shadow: 10px 10px 30px rgba(255, 89, 0, 0.114);
}
.box:active {
  background-color: var(--accent-color);
}
/* helathCheckup form */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}
#bookingFormContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  padding: 20px 40px;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}
#bookingFormContainer.show {
  transform: translateX(0);
}
#overlay.show {
  display: block;
}
/* #booking-form{
  
} */
#closeFormBtn {
  font-size: 30px;
  cursor: pointer;
  color: rgb(255, 84, 37);
  float: right;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 10px;
  margin-bottom: 3px;
  text-align: left;
  font-size: 19px;
}
.booking-form input, select {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #007c9d;
  border-radius: 8px;
  font-size: 16px;
}
button {
  margin-top: 30px;
  background: var(--accent-color);
  color: white;
  border: none;
  padding: 13px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
button:hover {
  background: #05617a;
}
#confirmationMessage {
  margin-top: 20px;
  color: rgb(255, 84, 37);
  font-weight: 600;
  font-size: 18px;
}

/* specialitiesSection */
.specialitiesSection {
  background-color: #d3d3d31a;
  /* background-color: #007b9d2f; */
  height: auto;
  width: 100%;
  padding-top: .6rem;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.specText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 2rem;
}
.specText h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.specText p {
  color: var(--secondary-text-color);
  margin-bottom: .3rem;
  font-size: 18px;
}
.imgCat {
  display: flex;
  width: 86%;
  height: 35rem;
  /* background-color: #710f0f1a; */
  padding: 20px 40px ;
}
.docImg img {
  height: 34rem;
  border-radius: 15px;
  margin-right: 20px;
}
.box2 {
  height: 10.5rem;
  width: 13rem;
  font-size: 1rem;
  background-color: #ffffff;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  border-radius: 15px;
  border: 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.box2 img {
  height: 5rem;
}
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.category :hover {
  border: 1.5px solid rgb(255, 89, 0);
  box-shadow: 10px 10px 30px rgba(255, 89, 0, 0.114);
}
.category a :hover {
  border: 0px;
  box-shadow: 0px 0px 0px rgba(255, 89, 0, 0);
}
.box2:active{
  background-color: var(--accent-color);
}

/* likeToDoToday */
.likeToDoToday {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-color);
  height: 17rem;
  width: 100%;
  padding-top: 2rem;
}
.txt {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.box3 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 145px;
  width: 200px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  /* border: 0px; */
  /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25); */
}
.box3 img {
  height: 50px;
}
.todayBoxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #aea4a4; */
  width: 85%;
  height: 200px;
}
.box3:hover {
  color: rgb(255, 89, 0);
  border: 2px solid rgb(255, 89, 0);
  box-shadow: 10px 10px 30px rgba(255, 89, 0, 0.114);
}
.box3:active{
  background-color: var(--accent-color);
}


/* Footer */
footer {
  height: 20rem;
  display: flex;
  background-color: #060822;
  justify-content: space-evenly;
  /* align-items: end; */
  /* width: 70%; */
  padding: 20px 200px 20px 200px;
}
.emgNo {
  display: flex;
  flex-direction: column;
  /* background-color: #f3eaea25; */
  height: 7rem;

  justify-content: space-evenly;
}
.emgNo h4 {
  margin-bottom: .4rem;
  text-decoration: underline;
  color: #ffffff;
}
.emgNo a {
  color: #007c9d;
}
.emgNo a:hover {
  text-decoration: underline;
}
.patientCare {
  display: flex;
  flex-direction: column;
  /* background-color: #f3eaea15; */
  height: 12rem;

  justify-content: space-evenly;
}
.patientCare h4 {
  margin-bottom: .4rem;
  text-decoration: underline;
  color: #ffffff;
}
.patientCare a {
  color: #ffffff8b;
  font-size: .8rem;
}
.patientCare a:hover {
  color: rgb(255, 202, 188);
}
.medicalProcedure {
  display: flex;
  flex-direction: column;
  height: 19rem;
  /* background-color: #f3eaea15; */
  justify-content: space-evenly;
}
.medicalProcedure h4 {
  margin-bottom: .4rem;
  text-decoration: underline;
  color: #ffffff;
}
.medicalProcedure a {
  color: #ffffff8b;
  font-size: .8rem;
}
.medicalProcedure a:hover {
  color: rgb(255, 202, 188);
}
.contactUs {
  display: flex;
  flex-direction: column;
  /* background-color: #f3eaea17; */
  justify-content: space-evenly;
  height: 11rem;
}
.contactUs h4 {
  margin-bottom: .4rem;
  text-decoration: underline;
  color: #ffffff;
}
.contactUs a {
  color: #ffffff8b;
  font-size: .8rem;
}
.contactUs a:hover {
  color: rgb(255, 202, 188);
}
.copyRight {
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

