body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f5fbfd, #a5f4ff, #f5fbfd);;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
h2 {
  color: #333;
}
h3 {
  color: #555;
}
.showDate{
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 25rem;
  padding: 0px 20px;
  border-radius: 30px;

}
table {
  
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  border-collapse: collapse; 
  border-radius: 15px;
  overflow: hidden; 
}
table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}
table th {
  background-color: #007BFF;
  color: white;
}
table td {
  padding: 9px 12px;
  background-color: #f9f9f9;
}
.date-picker {
  border-radius: 5px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
}
.submit-btn {
  border-radius: 5px 45px 5px 5px;
  padding: 10px 15px;
  background-color: #007BFF;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
  margin: 0px 5px;
}
.submit-btn:hover {
  background-color:  #0056b3;
}
.video-call-btn {
  padding: 8px 16px;
  background-color: #00c070;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius:20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgb(226, 255, 231);
  cursor: pointer;
  text-align: center;
}
.video-call-btn:hover {
  background-color: #018035;
}
.video-call-btn:active {
  transform: scale(0.95);
}