

*{margin: 0px; padding: 0px;
    font-family: __Inter_4d13b5, __Inter_Fallback_4d13b5, sans-serif;
  }
  html,body{
      height: calc(100% );
      
  }
  
  /*HEADER 👇👇**************************************/
  header{background-color: none;}
  
  .first-container{
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2.2px solid rgb(198, 196, 196);
      height: 80px;
  }
  
  .logo_add{
      display: flex;
      margin-left: 1.5%;
      justify-content: space-evenly;
      align-items: center;
      width: 320px;
  }
  
  .medLogo{
      margin-left: 2%;
  }
      .medLogo img{
      
      height: 60px;
      }
  
      
  .address img{
      cursor: pointer;
      border-radius: 5px;
      height: 3rem;
  }    
  
  .search{
  width: 30vw;
  display: flex;
  box-shadow: 2px 2px 5px rgb(220, 219, 219);
  }
      .search img{
          border-radius: 5px 0px 0px 5px;
          height: 25px;
          background-color: rgb(238, 236, 236);
      }
      .search-input{
          border-radius: 0px 5px 5px 0px;
          height: 25px;
          border: none;
          flex-grow: 1;
          background-color: rgb(238, 236, 236);
      }      
  .cart_log{
      display: flex;
      margin-right: 4%;
      justify-content:end;
      align-items: center;
      width: 320px;
  }

    .cart a{text-decoration: none;}
      
      .cart img{
          height:24px ;
      }
      .cart a span{
          background-color: #007c9d;
          color: black;
          text-decoration:none;
          text-align: center;
          line-height: 20px;
          padding:0.5px 4px;
          height: 18px;
          position: relative; left:-10px; top:-16px;
          border-radius: 50%;
          font-size: 12px;
          font-weight: 700;
          cursor: pointer;
      }
  
      .login{
          height: 20px;
          display: flex;
          align-items: center;
          border: 3px solid rgb(0, 80, 103);
          border-radius: 20px;
          padding: 6px 10px;
          margin-left: 20px;
      }
          .login img{
              margin-left: 4px;
              height: 15px;
          }
  
  /* NAV 👇**************/
  .nav-bar{
      height: 40px;
      box-shadow: 0px 5px 10px rgba(141, 140, 140, 0.2);
  }
      .nav_list{
          margin: 8px 0px;
          list-style: none;
          display: flex;
          justify-content: space-evenly;
          
      }
      .nav_list .nav_list:hover{
          padding-bottom: 12.5px;
          border-bottom:3px solid rgb(0, 147, 177);
      }        
          .nav_list a{
              font-size: 0.98rem;
              font-weight: 700;
              text-decoration:none;
              color: black;
          }
  
  
  
/* HEADER ☝️============================================== */

/* MAIN 👇============================================== */
.bag-items-container {
    display: inline-block;
    width: 64%;
    padding-right: 20px;
    border-right: 1px solid #eaeaec;
    padding-top: 32px;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
  }
  
  .bag-page {
    width: 83%;
    margin-left: 9.5%;
  }
  
  .bag-summary {
    vertical-align: top;
    display: inline-block;
    width: 30.5%;
    padding: 24px 0 0 16px;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
  }
  
  .bag-details-container {
    margin-bottom: 16px;
  }
  
  .price-header {
    font-size: 12px;
    font-weight: 700;
    margin: 24px 0 16px;
    color: #535766;
  }
  
  .price-item {
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #282c3f;
  }
  
  .price-item-value {
    float: right;
  }
  
  .priceDetail-base-discount {
    color: #03a685;
  }
  
  .price-footer {
    font-weight: 700;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
  }
  
  .btn-place-order {
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border-width: 0px;
    padding: 10px 16px;
    background-color: #007c9d;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .btn-place-order:hover {
    background-color: #046f8d;
  }
  
  .bag-item-container {
    margin-bottom: 8px;
    background: #fff;
    font-size: 14px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    position: relative;
    padding: 12px 12px 0;
  }
  
  .item-left-part {
    position: absolute;
    background: rgb(255, 242, 223);
    height: 110px;
    width: 111px;
  }
  
  .item-right-part {
    padding-left: 12px;
    position: relative;
    min-height: 148px;
    margin-left: 111px;
    margin-bottom: 12px;
  }
  
  .bag-item-img {
    width: 100%;
  }
  
  .return-period {
    display: inline-flex;
    font-size: 14px;
    padding-top: 8px;
  }
  
  .return-period-days {
    font-weight: 700;
    margin-right: 4px;
  }
  
  .delivery-details {
    margin-top: 5px;
    color: #282c3f;
    font-size: 12px;
    letter-spacing: -.1px;
    margin-bottom: 8px;
    line-height: 15px;
  }
  
  .delivery-details-days {
    color: #03a685;
  }
  
  .remove-from-cart {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 18px;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  .price-container{
    margin-top: 10px;
  }
    .price-container .current-price{
      font-weight: 700;
    }
    .price-container .original-price{
      font-size: 12px;
      text-decoration: line-through;
    }
    .price-container .discount-percentage{
      color: rgb(255, 89, 0);
    }

/* MAIN ☝️ ============================================== */